{% extends 'base.html.twig' %}

{% block title %}ItemOrder index{% endblock %}

{% block body %}
    <h1>ItemOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderStep</th>
                <th>bowl</th>
                <th>size</th>
                <th>sauce</th>
                <th>base</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_order in item_orders %}
            <tr>
                <td>{{ item_order.id }}</td>
                <td>{{ item_order.orderStep }}</td>
                <td>{{ item_order.bowl.id }}</td>
                <td>{{ item_order.size.id }}</td>
                <td>{{ item_order.sauce.id }}</td>
                <td>{{ item_order.base.id }}</td>
                <td>
                    <a href="{{ path('app_item_order_show', {'id': item_order.id}) }}">show</a>
                    <a href="{{ path('app_item_order_edit', {'id': item_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_order_new') }}">Create new</a>
{% endblock %}
