{% extends 'nocart.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container"></div>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4 ">

                <form id="form-log-in" class="card card-log-in" method="post">
                    {% if  app.request.query.get('registered') %}
                        <div class="success-message">
                            Successful registration, you can now log in!
                        </div>
                    {% endif %}
                    <h1 class="log-in-heading">Please log in</h1>
                    <label class="log-in-labels" for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    <label class="log-in-labels" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    {% if error %}
                        <div class="alert alert-danger">Wrong username or password!</div>
                    {% endif %}
                    <div class="row">
                        <button class="btn btn-lg btn-sign-in" type="submit">Log in</button>
                        <a  class="btn btn-sign-in" type="button" href={{ path('app_register') }}>Register</a>
                    </div>

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
{% endblock %}
