<div class="card card-size {{ isActive ? 'active' : '' }}" data-id="{{ size.id }}">

    <div class="card-body">
        <h2 class="card-title">{{ size.name }}</h2>
        <p id="size-text">
            {{ size.description }}
        </p>
        <p id="size-price">
            {{ size.currency }}{{ size.price }}
        </p>
    </div>
</div>