<div class="card card-size {{ isActive ? 'active' : '' }}" data-id="{{ size.id }}">

    <div class="col s1 "></div>
    <div class="col s3 big-letter">
        {{ size.name|first }}
    </div>
    <div class="col s1 "></div>
    <div class="col s7">
        <div class="card-body">
            <h2 class="card-title size-title">{{ size.name }}</h2>
            <div class="row">
                <p id="size-text">
                    {{ size.description }}
                </p>
            </div>
            <div class="row">
                <p id="size-price">
                    {{ size.price|price(2,'.',',') }}
                </p>
            </div>
        </div>
    </div>
</div>