{% extends 'base.html.twig' %}

{% block title %}Hello UserOrderController!{% endblock %}

{% block body %}
    <table id="user_order" class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Base</th>
            <th>Sauce</th>
            <th>Ingredients</th>
            <th>Extras</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for itemOrder in userOrder.itemOrders %}
            <tr>
                {{ dump(itemOrder) }}
                <th><img src="{{ asset(itemOrder.bowl.image.imagePath) }}" alt="{{ itemOrder.bowl.image.imagePath }}" draggable="false"></th>
                <th>{{ itemOrder.bowl.name }} <br>{{ itemOrder.size.name }}</th>
                <th>{{ itemOrder.base.name }}</th>
                <th>{{ itemOrder.sauce.name }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
