{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    {% set currentOrder = current_order() %}
    {% set currentUserOrder = current_user_order() %}
    {% set currentUser = current_user() %}

    <div class="container">
        <div class="row">
            <div class="col s4">
                <h2 class="caption-bowl">Delivery details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s7">
                <form id="form" method="post">
                    <div class="row">
                        <div class="col s6">
                            <p class="full-name-label">Full name<span style="color: lightcoral">*</span></p>
                            <input class="full-name-bar" placeholder="Full name" name="Full name" id="full-name" value={{ currentUser.name }} required>
                        </div>
                        <div class="col s6">
                            <p class="address-label">Address<span style="color: lightcoral">*</span></p>
                            <input class="address-bar" placeholder="Address" name="address" id="address" value={{ currentUser.address }} required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p class="phone-label">Phone number<span style="color: lightcoral">*</span></p>
                            <input class="phone-bar" placeholder="Phone number" name="phone" id="phone" value={{ currentUser.phone }} required>
                        </div>
                        <div class="col s6 ">
                            <p class="time-label">Choose time of delivery<span style="color: lightcoral">*</span></p>
                            <select class="drop-down" name="time" id="time">
                                <option value="As soon as possible">As soon as possible</option>
                                <option value="20 PM-21 PM">20 PM-21 PM</option>
                                <option value="21 PM-22 PM">21 PM-22 PM</option>
                                <option value="21 PM-22 PM">22 PM-23 PM</option>
                                <option value="21 PM-22 PM">23 PM-00 AM</option>
                                <option value="21 PM-22 PM">00 AM-01 AM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p class="payment-label">Cash or card<span style="color: lightcoral">*</span></p>
                            <select class="drop-down" name="payment" id="payment">
                                <option value="card">Card</option>
                                <option value="cash">Cash</option>
                            </select>
                        </div>
                        <div class="col s6">
                            <p class="date-label">Schedule delivery for another day</p>
                            <input type="date" id="date" name="date" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="note-label">Note</p>
                            <textarea class="note-bar" placeholder="Additional information" name="note" id="note" ></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s1"></div>
            <div class="card card-summary col s4">
                <div class="row summary-rows"><p class="summary-paragraph">Order summary</p></div>
                {% set totalOrderPrice = 0 %}
                {% for itemOrder in currentUserOrder.itemOrders %}
                        <div class="row summary-rows">
                            <div class="col s7"><p class="summary-paragraph-name">{{ itemOrder.bowl.name }}</p></div>
                            <div class="col s1"><p class="summary-paragraph-quantity">x{{ itemOrder.quantity }}</p></div>
                            <div class="col s4 price-col"><p class="summary-paragraph-price">{{ itemOrder.size.currency }}{{ itemOrder.totalPrice }}</p></div>
                        </div>
                        {% if itemOrder.itemOrderExtraIngredients != null %}
                            <div class="row summary-rows-with"><p class="with">with:</p></div>
                            {% for itemOrderExtraIngredients in itemOrder.itemOrderExtraIngredients %}
                                <div class="row summary-rows">
                                    <div class="col s6"><p class="summary-paragraph-ingredients">{{ itemOrderExtraIngredients.extraIngredient.name }}</p></div>
                                    <div class="col s6"><p class="summary-paragraph-price-ingredients">{{ itemOrderExtraIngredients.extraIngredient.currency }}{{ itemOrderExtraIngredients.extraIngredient.price }}</p></div>
                                </div>
                            {% endfor %}
                        {% endif%}
                    {% set totalOrderPrice = totalOrderPrice + itemOrder.totalprice %}
                {% endfor %}
                <div class="row summary-rows"><p class="delivery-paragraph">Free delivery</p></div>
                <div class="row summary-rows">
                    <div class="col s6"><p class="total-paragraph">Total</p></div>
                    <div class="col s6"><p class="total-paragraph-price">${{ totalOrderPrice }}</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col s8"></div>
            <div class="col s4">
                <a class="waves-effect waves-light btn btn-back-cart" href={{ path('order_list') }}>Back to cart</a>
                <a class="waves-effect waves-light btn btn-place-order" id="place-order">Place order</a>
            </div>
        </div>
    </div>
{%endblock %}
{% block javascriptsBody %}
    <script src="{{ asset('js/checkout-save-info.js') }}"></script>
{% endblock %}