{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    {% set currentOrder = current_order() %}
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h2 class="caption-bowl">Delivery details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s6"></div>
            <div class="col s1"></div>
            <div class="card card-summary col s4">
                <div class="row summary-rows"><p class="head-paragraph">Order summary</p></div>
                <div class="row summary-rows"><p class="size-paragraph">{{ currentOrder.size.name }} size</p></div>
                <div class="row summary-rows"><p class="base-paragraph">{{ currentOrder.base.name }}</p></div>
                <div class="row summary-rows"><p class="sauce-paragraph">{{ currentOrder.sauce.name }}</p></div>
                <div class="row summary-rows"><p class="ingredient-paragraph-head">Added ingredients:</p></div>
                {#                {{ dump(currentOrder.itemOrderExtraIngredients) }}#}
                {% for itemOrderIngredients in currentOrder.itemOrderIngredients %}
                    <div class="row summary-rows"><p class="ingredient-paragraph-body">{{ itemOrderIngredients.ingredient.name }}<br></p></div>
                {% endfor %}
            </div>
            <div class="col s1"></div>

        </div>
    </div>
{% endblock %}
