<tr>
    <td >{{ bowl.id }}</td>
    <td >{{ bowl.name }}</td>
    <td >{{ bowl.description }}</td>
    
    <td ><img src="{{ asset(bowl.imageId.imagePath) }}" alt="{{ bowl.imageId.imagePath }}" /></td>
</tr>