<div class="card card-bowl" data-id="{{ bowl.id }}">
    <img src="{{ asset(bowl.imageId.imagePath) }}" alt="{{ bowl.imageId.imagePath }}" class="card-img-top" draggable="false">
        <div class="card-body">
            <h2 class="card-title">{{ bowl.name }}</h2>
            <p id="card-text">
                {{ bowl.description }}
            </p>
        </div>
</div>
